<h2>Dashboard</h2>
<h5>Hurray! you are logged in 🥳.</h5>

<div class="container">
    <div class="container p-3 row">
        <div class="card p-2 ml-2 mb-2" style="width: 18rem;">
            <div class="card-body">
                <h6 class="pawpals">PAW GUEST PLACE</h6>
                <a href="/update" class="text-dark fw-bold"> Update your Account Info </a>
            </div>
        </div>
    </div>
</div>